.main-text{
    padding-top: 100px;
    padding-bottom: 100px;
    width: 100%;
    background-color: rgba(240, 240, 240, 0.8);
    overflow: hidden;
    position: relative;
}

.main-text a.create-user-link {
    position: absolute;
    left: 10px; 
    color: blue;
    text-decoration: none;
}

.main-text a.create-user-link:hover {
    text-decoration: underline;
  }